<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Top Economical Bowler'
        },
        xAxis: {
            title: {
                text: 'Bowlers'
            },
            categories: [{% for entry in sorted_economical_bowlers %}'{{ entry.bowler }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        },
        yAxis: {

            title: {
                text:'Economy'
            }
        },
        series: [{
            name: 'Bowlers',
            data: [
                {% for entry in sorted_economical_bowlers %}{{ entry.avg }}{% if not forloop.last %}, {% endif %}{% endfor %},

            ],
            color: 'purple'
        }]
    });
</script>
</body>
</html>