<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'The extra runs conceded per team'
        },
        xAxis: {
            title: {
                text: 'TEAMS'
            },
            categories: [{% for entry in extra_runs_conceded_by_team %}'{{ entry.bowling_team }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        },
        yAxis: {

            title: {
                text: 'Extra Runs'
            }
        },
        series: [{
            name: 'Teams',
            data: [
                {% for entry in extra_runs_conceded_by_team %}{{ entry.runs }}{% if not forloop.last %}, {% endif %}{% endfor %},

            ],
            color: 'purple'
        }]
    });
</script>
</body>
</html>