<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div id="container"></div>d
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Matches Played Per Seasons'
        },
        xAxis: {
            title: {
                text: 'Seasons'
            },
            categories: [{% for entry in matches_played_per_season %}'{{ entry.season }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
        },
        yAxis: {

            title: {
                text: 'Number of matches'
            }
        },
        series: [{
            name: 'Matches',
            data: [
                {% for entry in matches_played_per_season %}{{ entry.matches_count }}{% if not forloop.last %}, {% endif %}{% endfor %},

            ],
            color: 'purple'
        }]e
    });
</script>
</body>
</html>